.logger {
  word-wrap: break-word;
  margin-top: 30px;
  padding: 20px;
  background-color: darken($baseBg, 10);
  border: 1px solid lighten($black, 50);
  min-height: 100px;

  span {
    padding: 10px;
  }
}
