.player {
  word-wrap: break-word;
  margin-top: 30px;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid black;
  @include clearfix();

  textarea {
    width: 100%;
    resize: none;
  }

  label {
    margin-bottom: 20px;
  }

  .btn {
    float: right;
    padding: 10px 20px;
    cursor: pointer;

    &.disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.3;
    }
  }
}
